.menu-restaurant {
  width: 470px;
  height: 160px;
  border: 1px solid var(--input-border);
  box-sizing: border-box;
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  margin-bottom: 30px;
  color: none;
}
.menu-restaurant__title {
  color: var(--text);
  font-weight: 500;
}

.menu-restaurant__left {
  padding: 16px 0 16px 16px;
  display: flex;
  flex-direction: column;
}

.menu-restaurant:hover {
  background: var(--hover-card);
}

.menu-restaurant__consist {
  font-size: 13px;
  line-height: 21px;
  color: var(--price);
  height: 80px;
}

.menu-restaurant__price {
  margin-top: 15px;
  font-weight: 500;
  font-size: 15px;
  line-height: 21px;
  color: var(--text);
}

.menu-restaurant__image {
  width: 170px;
  height: 160px;
}
