.restaurant-navigation {
    margin: 0 auto;
    width: 1124px;
}

.restaurant-navigation__nav {
    padding: 30px 0 30px;
    display: flex;
    list-style-type: none;
}

.restaurant-navigation__item {
    text-decoration: none;
    margin-left: 40px;
    color: var(--price);
}

.restaurant-navigation__nav li:first-child {
    margin: 0;
}

.restaurant-navigation__item:active {
    color: var(--button-active);
}
