.restaurant-navigation {
  margin-bottom: 56px;
  border-bottom: 1px solid var(--input-border);
  position: sticky;
  top: 72px;
  background: var(--white);
  opacity: 0.95;
  z-index: 1;
}
.restaurant-navigation__wrapper {
  margin: 0 auto;
  width: 1170px;
}

.restaurant-navigation__nav {
  margin: 0;
  padding: 30px 0;
  display: flex;
  list-style-type: none;
}

.restaurant-navigation__item {
  text-decoration: none;
  margin-right: 40px;
  color: var(--price);
  cursor: pointer;
}

.restaurant-navigation__item:active {
  color: var(--green);
}
